body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color:rgb(41, 6, 6);
  display: flex;
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
 
 
} 
.main{ 
  background-image: url('images/Picture\ by\ @enstijl.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 30px;
}
h1{
  color: teal;
  background-image: url('images/myImage.JPG');
  background-size:contain;
  background-repeat: no-repeat;
  
}
p {
  font-size: 25px;
  color: Teal;
  text-align: center;
  
}
input[type="text"],[type="date"], [type="time"]{
  background:transparent;
  
}
[type="nun"]{
  background-color: transparent;
}
input{
  width:65%;
  height: 30px;
}
.btn, [type="submit"] {
  background-color:teal;
  width: 15%;
  height: 35px;
  border-radius: 8px;
  color:rgb(244, 223, 193);
  font-weight: bold;
}
.container {
  width: 100%;
 
}
@media screen and (max-width: 768px) {
  body {
  background-size: cover;
  
  font-size: 16px;
  height: 100%;
  }
  
  
  input[type="text"],[type="date"], [type="time"]{
  width: 100%;
  height: 30px;
  }
  
  
.btn, [type="submit"] {
  width: 50%;
  height: 40px;
  }
  
  .container {
  width: 100%;
  }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
  background-size: cover;
  font-size: 18px;
  height: 100%;
  }
  .main{ 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 20px;
  }
  input[type="text"],[type="date"], [type="time"]{
  width: 70%;
  height: 25px;
  

  }
  
  .btn, [type="submit"] {
  width: 20%;
  height: 35px;
  }
  
  .container {
  width:100%;
  }
}
