body {
  background-image: url('images/back.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% ;
  color:white;
  padding: 20px;
  margin:30px;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 400;
  
  width: 100%;
  height: 200%;
}
p {
  color: brown;
  font-size: 25px;
}
input[type="text"],[type="date"], [type="time"]{
  background: linear-gradient(to left, #fff, transparent);

  color: azure;
}
[type="nun"]{
  background-color: transparent;
}
input{
  width:150%;
  height: 40px;
}

button{
  color: azure;
  }
.btn, [type="submit"] {
  background-color: brown;
  width: 25%;
  height: 50px;
}
.container {
  width: 150%;
 
}
@media screen and (max-width: 768px) {
  body {
  background-size: cover;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  height: 100%;
  }
  
  
  input[type="text"],[type="date"], [type="time"]{
  width: 100%;
  height: 30px;
  }
  
  input{
  width:100%;
  height: 30px;
  }
  
  .btn, [type="submit"] {
  width: 50%;
  height: 40px;
  }
  
  .container {
  width: 100%;
  }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
  background-size: cover;
  padding: 15px;
  margin: 15px;
  font-size: 18px;
  height: 100%;
  }
  input[type="text"],[type="date"], [type="time"]{
  width: 80%;
  height: 35px;
  

  }
  
  input{
  width:80%;
  height: 35px;
  }
  
  .btn, [type="submit"] {
  width: 35%;
  height: 45px;
  }
  
  .container {
  width:100%;
  }
}